global:
email-reply-to: sfci-team+smoketests@salesforce.com
production-branches:
- master
log-level: silly
stages:
package:
- terraform-package:
packages:
- path: ./terraform-test-1
version: 2.1.5-$$BUILD_NUMBER-$$GIT_COMMIT
- path: ./terraform-test-2
version: some-fixed-version-1
- path: ./terraform-test-3
publish:
- terraform-publish
