global:
email-reply-to: sfci-team+smoketests@salesforce.com
production-branches:
- master
- test-versioning
log-level: debug
stages:
package:
- terraform-package:
packages:
- path: ./terraform-test-1
version: 2.1.5-$$BUILD_NUMBER-$$GIT_COMMIT
- path: ./terraform-test-2
version: 2.1.5-$$BUILD_NUMBER
- path: ./terraform-test-3
publish:
- terraform-publish
